



body {
   font-family: Helvetica, sans-serif;
   background-color: #e3e3e3;
}

h1, h2, h3 {
  text-align: center;
}


div#images-holder {
  margin: 4em 10%;
}


img {
  border: 5px solid darkgray;
  border-radius: 8px;
  width: 25%;
  margin: 0 2em;
  float: left;
}

div#chart-container {
  clear: left;
  display: block;
  margin: 50px auto;
  width: 80%;
}



/* css below for transitions */

/*.image-div {
  opacity: 1;
  transition: opacity .25s;
}

.image-div:hover {
   opacity: 0.5;
}*/

#images-holder:hover > .image-div {
  opacity: 0.25;
  transition: 1s;
}

#images-holder:hover > .image-div:hover {
  opacity: 1.0;
  transition: 1s;
}
