body {
   font-family: Helvetica, sans-serif;
   background-color: #e3e3e3;
}

h1, h2, h3 {
  text-align: center;
  color: green;
}

.buttons {
  display: block;
  margin: 15px auto;
  padding: 15px 15px;
  color: green;
  border: 2px solid green;
  border-radius: 5px;
 }



/***** Set up images and image borders with a transition *****/

img {
  border: 5px solid darkgray;
  border-radius: 8px;
  width: 250px;
  margin: 0 2em;
  transition: all .2s ease-in-out;
}

img:hover {
  border: 5px solid green;
}



/***** Image transition *****/

#imagesholder {
  display: flex;
  justify-content: center;
  margin: 2em 0 0 0;
  height: 0px;
  opacity: 0;
}

#imagesholder.imageTrans {
  height: 500px;
  opacity: 1;
  transition: all .2s;
}



/***** Results chart transition *****/

#resultChartWrap {
  display: block;
  width: 80%;
  height: 0px;
  margin: 5px auto;
  opacity: 0;
}

#resultChartWrap.chartTrans {
  height: 410px;
  opacity: 1;
  transition: all .2s;
}



/***** Market chart transition *****/

#marketChartWrap {
  display: block;
  width: 80%;
  height: 0px;
  margin: 5px auto;
  opacity: 0;
}

#marketChartWrap.chartTrans {
  height: 500px;
  opacity: 1;
  transition: all .2s;
}
